<h1>Find Article by ISBN</h1>
<%= form_tag article_search_path do %>
  <%= search_field_tag :isbn %>
  <%= submit_tag %>
<%end %>

<h1>Articles Result</h1>
<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>ISBN</th>
    <th>Authors</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.type %></td>
      <td><%= article.title %></td>
      <td><%= article.isbn %></td>
      <td><%= article.authors.map(&:email).join(', ') %></td>
    </tr>
  <% end %>
</table>


